/* Importa Montserrat y Playfair Display desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
/* @import url(variables.css); */
:root{
    --colorPrimary: #000;
    --colorSecondary: #fff;
    --colorThird: #FFD700;
    --colorFourth: #1E4D2B;
    --colorFifth: #AB83A1;
    --colorSixth: #EA7251;
    --colorSeventh: #3E4095;
    --colorNineth: #FFB347;
    --colorTenth: #AD343E;
    --colorEleventh: #593F62;
    --colorTwelveth: #ad343ec2;
}


*{
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----Ajustes generales ------- */
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}


/* ---------Contenedor general de la Página----------- */
.containerGeneral{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto minmax(70vh, auto);
    justify-content: center;
    background-image:url("../storage/img/bgGris.png");
    row-gap: 5vh;
}

/* --------------Barra de Navegación---------------------- */
.containerGeneral header{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: center;
    justify-content: space-between;
    background: none;
    padding: 0 2%;
    position: sticky;
    top: 0;
    animation: menuScroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;


}

.containerGeneral header h1{
    font-size: 2rem;
    background: none;
}
.containerGeneral header i{
    font-size: 2rem;
    background: none;
}

#btnAbrirModal{
    text-decoration: none;
    color: var(--colorPrimary);
    animation: menuFijo linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;    

}
#check{
    display: none;
}
header ul.listaNavVisible{
    display: none;
}

header i.bx-menu{
    display: block;
}

/* ------------Menu Desplegable----------- */
header {
    position: relative;
}

.containerGeneral header ul.listaNavOculto{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--colorTenth);
    width: 100%;
    height: 90vh;
    top: 10vh;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    left: -100%;
    transition: all .5s linear;
    overflow-y: auto;
}

#check:checked ~ ul.listaNavOculto{
    left: 0;

}

.containerGeneral header ul.listaNavOculto li a{
    text-decoration: none;
    color: var(--colorSecondary);
    font-size: 1.5rem;
    font-weight: 400;  
}


/* ------------------Sección productos---------------------- */
.containerGeneral section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    row-gap: 5vh;
}

.containerGeneral section .contanierProducto{
    width: 80%;
    background-color: var(--colorSecondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    min-height: 60vh;
    grid-template-areas:
        "imagenes imagenes"
        "contenido contenido";
    border: 1px solid rgb(218, 214, 214);
    padding: 0 3vw 4vh 3vw;
}

/* ------------------- Apartado Imagenes ----------------- */

.containerGeneral section .contanierProducto .containerImages{
    grid-area: imagenes;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
    row-gap: 2vh;
    column-gap: 2vw;
    padding: 2vh 0;

}

.containerGeneral section .contanierProducto .containerImages .miniaturasImg{
    width: 100%;
    align-items: center;
}

.containerGeneral section .contanierProducto .containerImages .principalImg{
    grid-column: 2/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;

}


/* ----------------------- Apartado Contenido -------------- */

.containerGeneral section .contanierProducto .contanierContent{
    grid-area: contenido;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    align-items: center;
    height: auto;
    row-gap: 2vh;
}

.containerGeneral section .contanierProducto .contanierContent h2{
    font-size: 1.3rem;
}
.containerGeneral section .contanierProducto .contanierContent .calificacion{
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 40%;
    height: auto;
}

.containerGeneral section .contanierProducto .contanierContent .calificacion i{
    font-size: 1.2rem;
    color: var(--colorTenth);
}
.containerGeneral section .contanierProducto .contanierContent .precio{
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.containerGeneral section .contanierProducto .contanierContent .precio h3{
    font-size: 1.2rem;
}
.containerGeneral section .contanierProducto .contanierContent .precio h4{
    font-size: .9rem;
    color: gray;
    text-decoration: line-through;
    align-self: end;
}
.containerGeneral section .contanierProducto .contanierContent .boton{
    background: var(--colorTenth);
    width: 30%;
    height: 2.5vh;
    border: none;
}
.containerGeneral section .contanierProducto .contanierContent .boton a{
    width: 20vw;
    border: none;
    text-decoration: none;
    color: var(--colorSecondary);
}

.containerGeneral footer{
    background: linear-gradient(to top,  var(--colorTenth), var(--colorTwelveth));
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-items: center;
    color: var(--colorSecondary);
    padding: 2vh 2vw;
}

.containerGeneral footer div h3{
    font-size: 1.3rem;
    padding-bottom: 2vh;
}
.containerGeneral footer div ul li{
    font-size: 1.1rem;
    list-style: none;
}

.containerGeneral footer div:nth-child(4) h3{
    text-align: center;
}
.containerGeneral footer div:nth-child(4) ul{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    justify-items: center;
    column-gap: 2vw;
}

.containerGeneral footer div:nth-child(4) ul li i{
    font-size: 2rem;
}


/* ----------------Animaciones----------------------- */

@keyframes menuScroll{
    to{
        background: rgba(128, 128, 128, 0.596);
        backdrop-filter: blur(5px);
        color: var(--colorSecondary);
    }
}
@keyframes menuFijo{
    to{
        color: var(--colorSecondary);
    }
}

/* -------------------------Modal------------------------ */

.modal{
    width: 80%;
    max-width: 500px;
    max-height: 70vh;
    height: auto;
    background-color: var(--colorSecondary);
    align-items: center;
    border-radius: 10px;
    border: none;
}

#carritoModal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}
.containerGeneral .modal .modalContenido{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid rgb(236, 233, 233);  
    padding: 2vh 2vw;
    justify-items: center;
    align-items: center;
    row-gap: 1vh;
}

.containerGeneral .modal .modalContenido h1{
    grid-column-start: span 4;
    font-size: 1.5rem;
}
#btnCerrarModal{
    font-size: 2rem;
}

.containerGeneral .modal .modalContenido .compras{
    grid-column: 1/-1;
    border: 1px solid rgb(177, 174, 174);
    width: 90%;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr repeat(3, 2fr);
    grid-template-areas: 
        "image image nameProd nameProd iconElim"
        "image image cantidad precio1 precio2";
}
.containerGeneral .modal .modalContenido .compras img{
    grid-area: image;
    width: 50%;
    height: auto;
}

.containerGeneral .modal .modalContenido .compras h3{
    grid-area: nameProd;
    font-size: 1rem;
}
.containerGeneral .modal .modalContenido .compras h4{
    grid-area: precio1;
    font-size: .8rem;
}
.containerGeneral .modal .modalContenido .compras h5{
    grid-area: precio2;
    font-size: .6rem;
    text-decoration: line-through;
    color: gray;
    justify-self: start;
}
.containerGeneral .modal .modalContenido .compras i{
    grid-area: iconElim;

}
.containerGeneral .modal .modalContenido .compras span{
    grid-area: cantidad;
    font-size: .7rem;
    font-family: sans-serif;
}

.containerGeneral .modal .modalContenido .totales{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    border: 1px solid rgb(177, 174, 174);
    width: 100%;
    padding: 1vh 1vw;
}
.containerGeneral .modal .modalContenido .totales h2{
    font-size: 1.3rem;    
}

.containerGeneral .modal .modalContenido .totales h2:nth-child(2){
    justify-self: end;
}

.containerGeneral .modal .modalContenido .totales button{
    grid-column-start: 2;
    width: 70px;
    justify-self: end;
    background: var(--colorTwelveth);
    border: none;
    border-radius: 6px;
}
.containerGeneral .modal .modalContenido .totales button a{
    color: var(--colorSecondary);
    text-decoration: none;
}



/* --------------------Responsive--------------------------------- */

@media (min-width: 768px){

    /* --------------Barra de Navegación---------------------- */
    .containerGeneral header{
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-content: center;
        justify-content: space-between;
        background: none;
        padding: 0 2%;
        position: sticky;
        top: 0;
        animation: menuScroll linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
    }


    header h1, header .checkbtn, header ul.listaNavOculto{
        display: none;
    }


    .containerGeneral header ul.listaNavVisible{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(10, auto);
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        column-gap: 4vw;
        width: 80%;
        justify-self: center;
    }

    .containerGeneral header ul.listaNavVisible li a{
        text-decoration: none;
        color: var(--colorPrimary);
        font-size: 1.5rem;
        font-weight: 400; 
        animation: menuFijo linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px; 
    }
    
    /* Estilo de la barra de desplazamiento */
    ul::-webkit-scrollbar {
        height: 5px; /* Ancho de la barra de desplazamiento */
    }
    
    ul::-webkit-scrollbar-thumb {
        background-color: var(--colorTwelveth); /* Color del control deslizante (thumb) */
        border-radius: 6px; /* Bordes redondeados del control deslizante */
    }
    
    ul::-webkit-scrollbar-track {
        background-color: #eee; /* Color de la pista de la barra de desplazamiento */
    }
    
    
    .containerGeneral header ul li{
        white-space: nowrap;
    }
    
    

    /* --------------------Sección Productos--------------- */
    .containerGeneral section .contanierProducto{
        grid-template-areas:
            "imagenes contenido"
            "imagenes contenido";
        align-items: center;
        justify-items: center;
        align-content: center;
        padding: 2vh 2vw;
    }
    .containerGeneral section .contanierProducto .contanierContent{
        grid-template-rows: repeat(5, auto);
        align-content: space-around;
    }
    .containerGeneral section .contanierProducto .contanierContent h2{
        font-size: 2rem;
    }
    .containerGeneral section .contanierProducto .contanierContent .calificacion i{
        font-size: 1.5rem;
    }
    .containerGeneral section .contanierProducto .contanierContent .precio h3{
        font-size: 1.8rem;
    }
    .containerGeneral section .contanierProducto .contanierContent .precio h4{
        font-size: 1.2rem;
    }
    .containerGeneral section .contanierProducto .contanierContent .boton{
        background: var(--colorTenth);
        width: 25%;
        height: 3vh;
    }


    /* ----------------------Footer--------------------------- */

    .containerGeneral footer{
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-items: center;
        height: auto;
    }

    .containerGeneral footer div h3{
        font-size: 1.8rem;
    }
    .containerGeneral footer div ul li{
        font-size: 1.2rem;
    }

    .containerGeneral footer div:nth-child(4){
        grid-column: 1/-1;
    }

    .containerGeneral footer div:nth-child(4) h3{
        text-align: center;
    }

    .containerGeneral footer div:nth-child(4) ul li i{
        font-size: 2.5rem;
    }

}



